@page "/"
@layout HeadlessLayout
@inherits MicrowavePage

<PageTitle>Controle do Micro-ondas</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8">
        <MudPaper Elevation="3" Class="mud-width-full pa-8">
            <EditForm Model="@InputModel">
                <h1 class="mud-text-primary">Micro-ondas</h1>

                <div class="mud-text-h6">Label de aquecimento: @LabelHeating</div>
                <div class="mud-text-h6">Tempo Restante: @TimeRemaining segundos</div>
               
                @if (!string.IsNullOrEmpty(FinalMessage))
                {
                    <MudText Class="blinking-text" Color="Color.Success">Aquecimento concluído</MudText>
                }

                <div class="mud-text-h6">Potência: @InputModel.Power</div>

                <MudSelect T="Guid?" Label="Programas Pré-definidos" @bind-Value="InputModel.PredefinedProgramId">
                    <MudSelectItem T="Guid?" Value="@(null)"></MudSelectItem>

                    @if (Programas != null && Programas.Any())
                    {
                        @foreach (var programa in Programas)
                        {
                            <MudSelectItem  Value="@((Guid?)programa.Id)" Class="@((programa.IsPredefined) ? "italic-text" : "")">@programa!.Name (@programa.TimeSeconds segundos,
                                @programa.Power) @(!string.IsNullOrEmpty(@programa.Instructions) ? $"- Instruções: {programa.Instructions}" : "")</MudSelectItem>
                        }
                    }

                </MudSelect>

                <MudTextField T="int" Label="Definir Potência" @bind-Value="InputModel.Power" />

                <MudTextField T="int" Label="Definir tempo (segundos)" @bind-Value="InputModel.Seconds" />

                <div class="d-flex mt-4">
                    <MudButton OnClick="StartMicrowave" Color="Color.Success" Variant="Variant.Filled">Iniciar
                    </MudButton>
                    <MudSpacer />
                    <MudButton OnClick="PauseMicrowave" Color="Color.Warning" Variant="Variant.Filled">Pausar/Parar
                    </MudButton>
                </div>

                <div class="mt-4">
                    <MudButton Href="/create-program" Color="Color.Primary" Variant="Variant.Outlined">Criar Novo
                        Programa
                    </MudButton>
                </div>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>
